# Бинарные файлы
*.class

# Локальные настройки
.settings/
.idea/

# Временные файлы
*.tmp
*.swp
*.bak

# Игнорирование папки .m2, которая содержит Maven репозиторий
.m2/

# Игнорирование папки .gradle, которая содержит Gradle репозиторий
.gradle/

# Игнорирование папки target, которая используется Maven или Gradle для хранения артефактов сборки
target/

# Игнорирование выходных файлов IDE
out/
build/
dist/

# Игнорирование IDE
target/
.vscode/
lab2/target
lab2/.vscode
*.iml
*.ipr
*.iws
*.vcxproj
*.vcpkg.cmake
*.vcxproj.filters

# Игнорирование системных файлов
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
lab2/Desktop.ini
lab2/src/Desktop.ini
lab2/src/java/Desktop.ini
lab2/test/Desktop.ini
lab2/test/java/Desktop.ini
